.section {
  margin-inline: auto;
  padding: 40px;
  width: 100%;
  max-width: 900px;

  .title {
    h1 {
      font-size: $fontsize-xl;
    }

    &[data-underline='true'] {
      width: fit-content;
      position: relative;

      &::after {
        content: '';
        border-bottom: 1px solid $primary-color;
        position: absolute;
        left: 0;
        right: -70px;
        bottom: 0;
      }
    }
  }

  .content {
    margin: 20px 0;

    &[data-align='left'] {
      text-align: left;
    }
    &[data-align='right'] {
      margin-inline: auto 20px;
    }
    &[data-align='center'] {
      text-align: center;
    }
  }
}
