:root {
  font-size: 17px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $font-color;
  background-color: $background-color;
  background-image: radial-gradient($background-dark-color 1px, transparent 3px);
  background-size: 30px 30px;
}

a {
  color: $accent-color;
  text-decoration: none;
}
