$primary-color: #000;
$accent-color: #048dff;
$font-color: #000;
$background-color: #fff;
$background-dark-color: #d9d9d9;

$fontsize-xs: 0.6rem;
$fontsize-sm: 0.8rem;
$fontsize-md: 1rem;
$fontsize-lg: 1.5rem;
$fontsize-xl: 2rem;

$transition: all 0.3s ease-in-out;
