.container {
  display: flex;
  gap: 10px;

  .link {
    padding: 5px 10px;
    border: solid 1px $accent-color;
    border-radius: 5px;

    &[data-selected='true'] {
      background-color: $accent-color;
      color: white;
    }
  }
}
