.header {
  height: $header-height;
  padding-inline: 40px;
  display: flex;
  gap: 10px;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: $background-color, $alpha: 0.5);
  backdrop-filter: blur(2px);
  z-index: 1000;

  @include mobile {
    padding-inline: 20px;
  }

  .icon {
    height: 40px;
  }

  .title {
    font-size: $fontsize-lg;
    font-weight: normal;

    @include mobile {
      font-size: $fontsize-md;
    }
  }

  .nav {
    margin-left: 20px;
    display: flex;
    gap: 10px;

    .link {
      color: $font-color;
    }
  }
}
